<h2 class="page-title"><%= author.name %></h2>
<div>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
</div>

<% if (books.length > 0) { %>
    <h2 class="page-title">Books by <%= author.name %></h2>
    <div>
        <% books.forEach(book => { %>
            <img height="150px" width="100px" style="object-fit:cover" src="<%= book.coverImagePath %>">
        <% }) %>
    </div>
<% } %>

